@charset "utf-8";

section {
    margin: 200px 400px 200px 400px;
}

section .title {
    font-size: 40px;
    margin-bottom: 20px;
}

section .text {
    font-size: 24px;
    margin-bottom: 100px;
}

section .tab-buttons {
    width: 520px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding: 10px 16px;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0 5px 10px #0cc8f0;
}

section .tab-buttons button {
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
    margin: 0 auto;
    outline: none;
    background: none;
    border: none;
}

section .tab-buttons button.on {
    /* 텍스트 그라데이션 */
    background: linear-gradient(0deg, #0cc8f0 0%, #002BFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

section .image-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

section .image-container .left-image {
    flex-shrink: 0;
    max-width: 100%;
}

section .image-container .left-image img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}
section .image-container .arrow {
    display: block;
    width: 55px;
    height: 55px;
}

section .image-container .right-image {
    position: relative;
    flex-shrink: 0;
    max-width: 100%;
}

section .image-container .right-image .tab-image {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    max-width: 100%;
    height: auto;
}

section .image-container .right-image .tab-image.active {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
}
