@charset "utf-8";

footer {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 300px;
    background: #333333;
    color: #ffffff;
}

footer .footer-wrap {
    padding: 50px 50px 50px 400px;
}

footer img {
    height: 48px;
    margin-bottom: 50px;
}

footer .info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 24px;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 50px;
}

footer .info span {
    margin-right: 6px;
    color: #d7d7d7;
}
footer .info a {
    color: #d7d7d7;
}
footer .info a:hover {
    text-decoration: underline;
}
footer .copy {
    color: #d7d7d7;
    font-size: 14px;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}