@charset "utf-8";

header {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 0 400px;
    align-items: center;

    position: relative;
    overflow: visible;
}

header h1 {
    width: 148px;
    height: 35px;
    margin-right: 50px;
}

header .sub-menu {
    display: flex;
    align-items: center;
}

header .sub-menu .function {
    font-size: 24px;
}

header .sub-menu .cooperation {
    /* display: none; */
    font-size: 24px;
    position: absolute;
    top: 80%;
    left: 24.1%;
    background-color: #d9d9d9;
    padding: 10px 40px;
    border-radius: 10px;
    z-index: 1000;

    display: none;
}

header .sub-menu .arrow {
    margin-left: 10px;
    margin-bottom: 5px;
}

header .btn-wrap {
    position: absolute;
    right: 400px;
    top: 50%;
    transform: translateY(-50%);
}

header .btn-wrap ul {
    display: flex;
    gap: 100px;
}

header .btn-wrap ul li {
    font-size: 24px;
    font-weight: 600;
}

header .btn-wrap ul li.on {
    color: #0cc8f0;
}

header .line {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #0cc8f0 0%, #ffffff 100%);
}