@charset "utf-8";

body {
    font-family: "Noto Sans KR", sans-serif;
    /* background: linear-gradient(180deg, #ffffff 0%, #0cc8f0 100%); */
    background: linear-gradient(180deg, #ffffff 0%, #0cc8f0 70%, #ffffff 70%);
    /* section 끝나는 부분에 맞춰서 그라데이션 컬러스탑 조절했으니 확인하세요 */
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* 이걸 주석처리해도 전혀 문제없어요. body 안의 각 영역은 기본이 세로 나열이니까요! */

    overflow-x: hidden;
}

header {
    display: none;
}

/* main의 높이를 보이는 화면에는 로고와 버튼만 보여지게, 실제로는 화면 아래까지 공간이 잡히도록 만들어 줘야 원이 올라올 부분까지 배경을 자연스럽게 넣을 수 있어요. */
main {
    width: 100%;
    height: 100vh;

    background: linear-gradient(180deg, #ffffff 0%, #0cc8f0 100%);
    padding-bottom: 800px;
    /* 전체 높이와 별도로! */
}

main .main-content {
    width: 50%;
    max-width: 760px;
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
}

main .main-logo {
    width: 100%;
    margin-bottom: 160px;
}

main .main-logo img {
    width: 100%;
    display: block;
}

main .btngrp {
    text-align: center;
}

main .btngrp a.btn {
    display: inline-block;
    background: #0CC8F0;
    color: #ffffff;
    font-size: 36px;
    font-weight: 100;
    padding: 22px 80px;
    border-radius: 16px;
    transition: all 0.3s ease;
}

main .btngrp a:first-child {
    margin-right: 40px;
}

main .btngrp a.btn:hover {
    color: #0CC8F0;
    outline: 1.6px solid #0CC8F0;
    background: transparent;
    font-weight: 400;
}

section {
    width: 100%;
    position: relative; /* 가상요소 before의 기준! */
    margin-bottom: -200px;
    /* section의 남는 공간이 여백으로 많이 남아서 marginb-bottom으로 위로 당겨서 없애준 것! */
}

section::before {
    /* 반원 상단! */
    content: "";
    display: block;
    width: 2040px;
    height: 1020px;

    border-radius: 2040px 2040px 0 0;
    background: linear-gradient(#0cc8f0 0%, #fff 100%);

    border: 8px solid #fff;
    box-sizing: border-box;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -700px;
    /* main태그의 padding-bottom만큼 끌어올려서 겹쳐지는 것처럼 보여지도록, 지금은 main 공간과 여백을 두려고 padding-bottom값-100px로 위치조절! */

    /* outline: 3px solid blue; */
}

/* .sub와 .api를 감싸는 부모요소! */
section article.contents {
    position: relative;
    top: -400px;

    /* relative는 위치 이동은 하지만 원래 가지고 있던 공간은 그대로 유지되요. 그래서 section에 margin-bottom으로 section이 가진 높이를 일부러 줄여준 거예요. */
}

article.sub {
    /* outline: 2px solid blue; */

    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -500px; */

    text-align: center;
}

article.sub .sub-title {
    font-size: 24px;
    color: #525252;
    margin-bottom: 40px;
}

article.sub .title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 50px;
}

article.sub .text {
    font-size: 26px;
    line-height: 1.6;
    color: #3a3a3a;
    margin-bottom: 100px;
}

article.sub .view a {
    display: inline-block;
    background-color: #47c7ee;
    color: #fff;
    padding: 22px 80px;
    border-radius: 16px;
    font-size: 36px;
    font-weight: 100;
    transition: all 0.3s ease;
}


article.sub .view a:hover {
    color: #0CC8F0;
    outline: 1.6px solid #0CC8F0;
    background: transparent;
    font-weight: 400;
}


article.api {
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

article.api h3 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

article.api ul {
    display: flex;
    justify-content: center;
    gap: 14px;
}

/* li의 너비가 로고 이미지에 따라 각각 다른 너비를 가져요. 근데 이런 로고가 나열되는 영역은 보통 동일한 너비를 가지도록 설정하는 편이예요. 다른 사이트의 스폰서, 협력사 등의 영역을 보통 통일된 느낌을 주기 위해 동일한 너비를 주로 사용합니다. 개인적으로는 같은 너비의 로고박스가 나열되면 더 좋을거란 생각이 들어요 */
article.api li {
    background: #ffffff;
    border-radius: 20px;
    padding: 24px 70px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* li 하위에 img 태그밖에 없기 때문에 flex는 안 필요해요 */

    box-shadow: 0 0 5px #0CC8F0;
}

article.api img {
    height: 34px;
    display: block;
}





/*** 기존CSS ******************************/
/* .full-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 173px;
    margin-top: 200px;
    text-align: center;
}

header h1 {
    font-size: 54px;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
} */
/* h1은 기존에도 img태그가 들어갔기 때문에 아래의 속성은 하나도 적용이 안되요! */

/* .btn-wrap {
    margin-top: 190px;
    display: flex;
    gap: 50px;
    margin-bottom: 120px;
}

.btn button {
    background: #0CC8F0;
    color: #ffffff;
    border: none;
    padding: 31px 80px;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 100;
    font-variation-settings: "wght" 100;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.btn button:hover {
    color: #0CC8F0;
    outline: 1px solid #0CC8F0;
    background: none;
    transition: all 0.3s ease;
} */

/* section {
    position: relative;
    width: 2070px;
    height: 2070px;
    margin-top: 120px;
    margin-bottom: -1035px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    z-index: 1;
    margin-bottom: 390px;
}

section::before {
    content: "";
    position: absolute;
    top: 53%;
    inset: 0;
    border-radius: 50%;
    background: #ffffff;
    opacity: 1;
    z-index: 0;
}

.circle {
    position: absolute;
    top: 50.1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2070px;
    height: 2070px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    z-index: 1;
}

.circle::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #0cc8f0 0%, #fff 100%);
    z-index: 0;
}

.circle::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #0cc8f0 0%, #ffffff 100%);
    filter: blur(20px);
    opacity: 0.9;
    z-index: 0;
}

.sub {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 850px;
    z-index: 2;
}

.sub-title {
    font-size: 24px;
    color: #525252;
    margin-bottom: 39px;
}

.title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 50px;
}

.text {
    font-size: 20px;
    line-height: 1.6;
    color: #3a3a3a;
}

.btn.view {
    margin-top: 100px;
}

.btn.view button {
    background: #47c7ee;
    color: #ffffff;
    padding: 31px 80px;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 100;
}

.btn.view button:hover {
    color: #0CC8F0;
    outline: 1px solid #0CC8F0;
    background: none;
    transition: all 0.3s ease;
} 

.api {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: 150px;
}

.api h3 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.api ul {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.api li {
    background: #ffffff;
    border-radius: 20px;
    padding: 24px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.api img {
    height: 34px;
    display: block;
}
*/