@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* 전체요소에 box-sizing이 들어가면 패딩, 보더를 각각의 값으로 사용해야 할 때 문제가 되요. 
    또한 전체요소 선택자(*)는 최소한의 css가 설정되어야 로딩될 때 속도의 문제가 없어요. 실제로는 전체선택자를 사용하지 않고 모든 태그를 직접 선택합니다! */
}

a {
    text-decoration: none;
    color: inherit;
}

li, ul, ol {
    list-style: none;
}

/* body {
    font-family: noto sans kr, sans-serif;
} */


