@charset "utf-8";

section {
    margin: 200px 400px 200px 400px;
}

section .title {
    font-size: 40px;
    margin-bottom: 20px;
}

section .text {
    font-size: 24px;
    margin-bottom: 85px;
}

section .tab-buttons {
    width: 750px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    /* padding: 10px 16px; */
    margin-bottom: 85px;
    border-radius: 15px;
    box-shadow: 0 5px 10px #0cc8f0;
}

section .tab-buttons button {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin: 15px auto 0;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
section .tab-buttons button img {
    width: 100%;
    display: block;
    transition: all 0.3s ease;
}
section .tab-buttons button img:hover {
    transform: scale(1.1);
}

section .image-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

section .image-container .left-image {
    position: relative;
    flex-shrink: 0;
    max-width: 100%;
}

section .image-container .left-image .left-tab-image {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    max-width: 100%;
    height: auto;
}
section .image-container .left-image .left-tab-image.active {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
}
section .image-container .arrow {
    display: block;
    width: 55px;
    height: 55px;
}

section .image-container .right-image {
    position: relative;
    flex-shrink: 0;
    max-width: 100%;
}

section .image-container .right-image .tab-image {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    max-width: 100%;
    height: auto;
}

section .image-container .right-image .tab-image.active {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
}