@charset "utf-8";

section {
    margin: 200px 400px 200px 400px;
}

section .title {
    font-size: 40px;
    margin-bottom: 20px;
}

section .text {
    font-size: 24px;
    margin-bottom: 100px;
}

