@charset "utf-8";

body {
    font-family: "Noto Sans KR", sans-serif;
    background: linear-gradient(180deg, #ffffff 0%, #0cc8f0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.full-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 173px;
    margin-top: 200px;
    text-align: center;
}

header h1 {
    font-size: 54px;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

.btn-wrap {
    margin-top: 190px;
    display: flex;
    gap: 50px;
    margin-bottom: 120px;
}

.btn button {
    background: #0CC8F0;
    color: #ffffff;
    border: none;
    padding: 31px 80px;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 100;
    font-variation-settings: "wght" 100;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}
.btn button:hover {
    color: #0CC8F0;
    outline: 1px solid #0CC8F0;
    background: none;
    transition: all 0.3s ease;
}

section {
    position: relative;
    width: 2070px;
    height: 2070px;
    margin-top: 120px;
    margin-bottom: -1035px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    z-index: 1;
    margin-bottom: 390px;
}

section::before {
    content: "";
    position: absolute;
    top: 53%;
    inset: 0;
    border-radius: 50%;
    background: #ffffff;
    opacity: 1;
    z-index: 0;
}

.curcle {
    position: absolute;
    top: 50.1%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 2070px;
    height: 2070px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    z-index: 1;
}

.curcle::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #0cc8f0 0%, #ffffff 100%);
    z-index: 0;
}

.curcle::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #0cc8f0 0%, #ffffff 100%);
    filter: blur(20px);
    opacity: 0.9;
    z-index: 0;
}

.sub {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 850px;
    z-index: 2;
}

.sub-title {
    font-size: 24px;
    color: #525252;
    margin-bottom: 39px;
}

.title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 50px;
}

.text {
    font-size: 20px;
    line-height: 1.6;
    color: #3a3a3a;
}

.btn.view {
    margin-top: 100px;
}

.btn.view button {
    background: #47c7ee;
    color: #ffffff;
    padding: 31px 80px;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 100;
}

.btn.view button:hover {
    color: #0CC8F0;
    outline: 1px solid #0CC8F0;
    background: none;
    transition: all 0.3s ease;
}

.api {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: 150px;
}

.api h3 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.api ul {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.api li {
    background: #ffffff;
    border-radius: 20px;
    padding: 24px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.api img {
    height: 34px;
    display: block;
}